//comentarios
//este comentario no se compila
/*comentario que si va compilado SALVO que use el modo COMPRIMIDO*/
/*comentario que siempre va en el CSS*/

//nested rules//

nav{
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }
}
//& -> parent selector
.boton{
    &.primario{
        background-color: lightgreen;
    }
    &.secundario{
        background-color: lightblue;
    }
}

a{
    &:hover{
        background-color: cadetblue;
    }
    &::before{
        content: "antes";
        margin: 5px;
    }
}

.caja{
    margin: {
        top:10px;
        bottom:15px;
    }
    padding: {
        left: 10px;
        right: 15px;
    }
}

.boton, .enlace, .aviso{
    &-primario{
        background-color: antiquewhite;
    }
}


////data structure///
// variable global
$variable:#a01256;

//locales
body{
    $variable_local:red;
    $tamaño_fuente:16px;
}

//listas 
$tamanyo:(10px,15px,20px);

//mapas
$error:(
    "leve": lightcoral,
    "grave": red
);

//interpolación 
