//variables que se podrán utilizar a lo largo del código

// Colores principales de la interfaz

$color-principal: #56acd0;
$color-secundario: #2b3a42;
$color-resalto: #ffb347;
$color-neutro1: #ffffff;
$color-neutro2: black;

// Configuración de tipografía
$fuente-base: 'Ibarra Real Nova', sans-serif;

// Espaciados y tamaños de fuente
$padding-base: 15px;
$tamaño-base-fuente: 16px;
$font-size-header: 24px;
$tamaño-fuente-reducida: $tamaño-base-fuente*0.75;
$espacio-entre-contenedores: 10px;

$anchura-max: 80vw;
$color-titulo-principal: $color-neutro1;
$color-menu: $color-neutro1;