@use '../global/variables';

/* Importamos las variables de la carpeta global desde el archivo variables.scss */

/* Estilos globales para todos los elementos y sus pseudo-elementos */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ibarra real Nova', sans-serif;
  display: flex;
  flex-direction: column;
}