@use '../global/variables';
@use '../global/funciones';
@use '../global/operadores';

/*La tipografia general de la página*/
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-weight: bold;
}


p {
  font-size: variables.$tamaño-base-fuente;
}

body {
  font-size: variables.$tamaño-base-fuente;
  line-height: 1.5;
}

footer {
  color: variables.$color-menu;
  font-size: variables.$tamaño-fuente-reducida;
  font-weight: bold;
}