/*media-queries*/
/* tamaños de Media Queries */
@media only screen and (min-width: 300px) and (max-width: 767px) {
  header {
    .enlaces a {
      font-size: 13px;
      margin-right: 0;
      margin-left: 0;
    }

    #valor {
      padding: 5px;
      width: 100px;
    }

    //.fa-user{
    //  margin-left: 40px;
    // }
  }

  .headerP {
    .enlaces {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        padding: 2px;
      }
    }

  }

  main {
    h1 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .botones {
      margin: 0;
      padding: 0;
      gap: 0px;
      flex-wrap: wrap;

      .boton1 {
        font-size: 20px;
        margin-block: 50px;
        margin-right: 10px;
      }

      .boton2 {
        padding: 0;
        margin-left: 0;
      }
    }

    .colaboradores {
      // display: block;
      justify-content: center;
      gap: 0;
      margin-top: 100px;

      .secciones {
        margin-inline: 30px;
      }
    }

    .eventos {
      gap: 0;
      display: block;

      article {
        display: none;
      }

      article.active {
        display: block;
        /* Mostrar solo el artículo activo */
      }
    }

    .libros {
      gap: 0;

      .libro {
        display: none; //oculto los libros
      }

      .libro.active {
        display: block;
        /* Mostrar solo el libro que este activo*/
      }
    }

    .categorias2 {
      gap: 50px;

      article {
        display: none;
      }

      article.active {
        display: block;
        /* Mostrar solo el artículo activo */
      }

    }

    .titulo {
      .iniciar_sesion {
        margin-top: 150px;
      }
    }
  }

  footer {
    position: relative;
    top: 100px;

    .redes_S {
      >img {
        align-items: center;
      }
    }

    .pie {
      display: block;
      text-align: center;
      padding-bottom: 20px;
    }

    .contacto {
      padding-bottom: 30px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  header {
    #valor {
      padding: 5px;
      width: 300px;
    }
  }

  main {
    text-align: center;
    padding-block: 100px;
    position: relative;
    //top: 150px;
    margin-right: 30px;
  }

  .mainP {
    text-align: center;
    padding-block: 0;
    position: relative;
    margin-right: 0;

    .categorias2 {
      margin-bottom: 0px;
    }
  }

  footer {
    position: relative;
    top: 300px;
  }

  .footerP {
    top: 100px;
  }

  .eventos {
    article {
      display: none;
    }

    article.active {
      display: block;
      /* Mostrar solo el artículo activo */
    }
  }

  .libros {
    .libro {
      display: none; //oculto los libros
    }

    .libro.active {
      display: block;
      /* Mostrar solo el libro que este activo*/
    }
  }

  .categorias2 {
    gap: 50px;

    article {
      display: none;
    }

    article.active {
      display: block;
      /* Mostrar solo el artículo activo */
    }

  }
}

@media only screen and (min-width: 1000px) and (max-width: 1360px) {
  header {
    //.fa-user{
    //  margin-left: 450px;
    //}
  }

  main {
    text-align: center;
    position: relative;
    margin-right: 30px;
    margin-bottom: 100px;

    h1 {
      font-size: 40px;
    }

    /* .botones {
      padding: 130px;
    }*/
  }

  .mainP {
    text-align: center;
    padding-block: 0;
    position: relative;
    margin-right: 0;

    .categorias2 {
      margin-bottom: 0px;
    }
  }

  footer {
    position: relative;
    top: 170px;
  }

  .footerP {
    top: 100px;
  }

  .eventos {
    article {
      display: none;
    }

    article.active {
      display: block;
      /* Mostrar solo el artículo activo */
    }
  }

  .libros {
    .libro {
      display: none; //oculto los libros
    }

    .libro.active {
      display: block;
      /* Mostrar solo el libro que este activo*/
    }
  }

  .categorias2 {
    gap: 50px;

    article {
      display: none;
    }

    article.active {
      display: block;
      /* Mostrar solo el artículo activo */
    }

  }
}



@media only screen and (min-width: 1800px) and (max-width: 1920px) {
  header {
    picture {
      img {
        width: 100px;
        height: 100px;
      }
    }

    #valor {
      padding: 20px;
      width: 500px;
    }

    .enlaces {
      .fa-user {
        font-size: 50px;
        margin-right: 50px;
      }

      button {
        font-size: 40px;

        &.iniciar {
          font-size: 30px;
          color: black;
        }

        &.comprar {
          font-size: 30px;
          color: black;
        }
      }

    }
  }

  section {
    .categorias {
      li {
        font-size: 30px;
      }
    }
  }

  main {
    margin-bottom: 200px;

    h1 {
      font-size: xxx-large;
      max-width: none;
    }

    .botones {
      .boton1 {
        font-size: 50px;
      }

      .boton2 {
        font-size: 50px;
      }
    }

    .colaboradores {
      .secciones {
        p {
          font-size: 50px;
        }

        picture {
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }

    .titulo {
      h1 {
        font-size: 70px;
      }
    }

    .eventos {
      article {
        img {
          width: 500px;
        }
      }

      p {
        font-size: 30px;
      }
    }

    .categorias2 {
      gap: 50px;

      .cat {
        p {
          font-size: 20px;
        }
      }
    }
  }

  .mainP {
    margin-bottom: 100px;

    h2 {
      font-size: 50px;
      font-family: 'Ibarra real Nova', sans-serif;
    }
  }

  footer {
    .redes_S {
      .fa-brands {
        font-size: 50px;
      }
    }

    .pie {
      .contacto {
        p {
          font-size: 30px;
        }
      }

      .link {
        p {
          font-size: 30px;
        }
      }

      .terminos {
        p {
          font-size: 30px;
        }
      }
    }
  }
}





@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  header {
    picture {
      img {
        width: 100px;
        height: 100px;
      }
    }

    #valor {
      padding: 20px;
      width: 500px;
    }

    .enlaces {
      .fa-user {
        font-size: 100px;
        margin-right: 50px;
      }


      button {

        &.iniciar {
          font-size: 40px;
          color: black;
        }

        &.comprar {
          font-size: 40px;
          color: black;
        }
      }
    }
  }

  section {
    .categorias {
      li {
        font-size: 50px;
      }
    }
  }

  main {
    margin-bottom: 200px;

    .titulo {
      h1 {
        font-size: 100px;
        max-width: none;
      }
    }


    .botones {
      .boton1 {
        font-size: 50px;
      }

      .boton2 {
        font-size: 50px;
      }
    }

    .eventos {
      article {
        img {
          width: 700px;
        }
      }

      p {
        font-size: 40px;
      }
    }

    .libros {
      article {
        img {
          width: 400px;
        }
      }
    }

    .categorias2 {
      gap: 50px;

      .cat {
        img {
          width: 300px;
          height: 300px;
        }

        p {
          font-size: 50px;
        }
      }
    }

    .colaboradores {
      .secciones {
        p {
          font-size: 50px;
        }

        picture {
          img {
            width: 300px;
            height: 300px;
          }
        }
      }
    }
  }

  .mainP {
    margin-bottom: 100px;

    h2 {
      font-size: 50px;
      font-family: 'Ibarra real Nova', sans-serif;
    }
  }

  footer {
    .redes_S {
      .fa-brands {
        font-size: 50px;
      }
    }

    .pie {
      .contacto {
        p {
          font-size: 40px;
        }
      }

      .link {
        p {
          font-size: 30px;
        }
      }

      .terminos {
        p {
          font-size: 40px;
        }
      }
    }
  }
}