@use '../global/variables';
@use '../global/funciones';


h1 {
    font-size: variables.$tamaño-base-fuente*3;
  }
  
  h2 {
    font-size: variables.$tamaño-base-fuente*2;
  }
  
  h3 {
    font-size: variables.$tamaño-base-fuente*1.5;
  }
  