body {
  margin: 0;
  font-family: 'Ibarra real Nova', sans-serif;
  color: #2b3a42;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a4c3cf;
  padding: 10px 20px;
}

header img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}


header .enlaces a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

header .enlaces .registrar {
  background-color: #ffb347;
  font-weight: bold;
}


main {
  text-align: center;
  padding: 50px;
}

main h1 {
  font-family: 'Permanent Marker';
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
  color: #2b3a42;
  margin-bottom: 40px;
  max-width: 560px;
  margin: auto;
  /*La propiedad CSS margin establece el margen para los cuatro lados.*/
}

main .botones {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

main .botones .boton1 {
  background-color: #ffb347;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  margin-right: 50px;
  border-radius: 30%;
}

main .botones .boton2 {

  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 50px;
}

main .colaboradores {
  display: flex;
  justify-content: center;
  gap: 50px;
  /*Es parecido ha padding*/
  margin-top: 40px;
}

main .colaboradores .secciones {
  text-align: center;
  margin-inline: 50px;
  /*Sirve para poner un margen entre los componentes de una misma linea*/

}

main .colaboradores .secciones img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

main .colaboradores .secciones p {
  margin-top: 10px;
  font-size: 16px;
}

/* Footer */
footer {
  background-color: #a4c3cf;
  color: white;
  padding: 20px 10px;
  /*arriba | derecha | abajo | izquierda */
}

.redes_S>img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 50px;
}

.linea {
  height: 1px;
  background-color: black;
}

footer .pie {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

footer .contacto p,
footer .terminos p {
  margin: 0;
}

footer .terminos a {
  color: white;
  text-decoration: none;
}

footer .terminos a:hover {
  /*Hover es para cuando se posa el cursor sobre algo*/
  text-decoration: underline;
}