  /*header*/
  /* Estilos para el header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a4c3cf;
    padding: 10px 20px;

    /* Estilos para las imágenes dentro del header (por ejemplo, el logo) */
    img {
      width: 40px;
      height: auto;
      border-radius: 50%;
      margin-left: 200px;
    }

    /* Estilos para los botones dentro de la clase 'enlaces' */
    .enlaces {
      button {
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
        color: black;
        background-color: #a4c3cf;
        cursor: pointer;


        /* Estilos específicos para el botón 'iniciar' */
        &.iniciar {
          border: none;
          color: black;
          //background-color: #2b3a42;
        }

        /* Estilos específicos para el botón 'comprar' */
        &.comprar {
          color: black;
          text-decoration: none;
          padding: 10px;
          background-color: #ffb347;
          border-radius: 5px;
          margin-left: 10px;
          cursor: pointer;
          margin-right: 200px;
        }

        &.iniciar:hover {
          background-color: #2b3a42;
          color: white;
        }


        &.comprar:hover {
          background-color: #cf8e32;
        }
      }

      /* Estilos para el enlace 'registrar' */
      .registrar {
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
        background-color: #ffb347;
        cursor: pointer;
        margin-right: 200px;
      }
    }

    //.fa-user{
    //  margin-left: 1150px;
    //}

    /* Efectos de hover en los botones 'iniciar' y 'comprar', es decir solo funcionaran si se deja el cursor encima de los respectivos botones*/


    /* Estilos para el buscador */
    #valor {
      padding: 5px;
      width: 300px;
    }
  }

  /* Estilos para la clase categorías dentro de una sección */
  section {
    .categorias {
      list-style-type: none;
      /* Elimina los puntos de la lista */
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
    }

    li {
      background-color: #a4c3cf;

    }
  }

  section {

    /* Nuevos estilos para la clase categorías (con submenús) */
    .categorias {
      display: flex;
      list-style: none;
      background-color: #a4c3cf;
      justify-content: center;
      margin: 0;
      padding: 0;
      gap: 0px;
      overflow-x: auto;
      white-space: nowrap;
      list-style-type: none;
      position: relative;
    }

    .categorias li {
      display: list-item;
      padding: 10px;
      position: relative; // Añadir posición relativa
    }

    .categorias>#unico:hover {
      background-color: #a4c3cf;
    }

    /* Estilos para cada elemento de la lista de categorías */
    .categorias>li {
      position: relative;
      padding: 0px 15px;
      color: #2b3a42;
      cursor: pointer; //te pone el cursos como la manita
    }

    /* Efecto de hover(mantener el cursos encima del elemento) en los elementos de la lista de categorías */
    .categorias>li:hover {
      background-color: #2b3a42;
      color: white;
    }

  }