/* Estilos principales para el contenedor 'main' */
main {
    /* Centra el texto dentro del contenedor 'main' */
    text-align: center;

    /* Estilos para el contenedor con la clase 'titulo' dentro de 'main' */
    .titulo {
        background-image: url("../img/foto-libreria-1200px.jpg");
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* Estilos para el contenedor con la clase 'eventos' dentro de 'main' */
    .eventos {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-block: 30px;
        margin-inline: 30px;
        overflow: hidden;
    }

    /* Estilos para el contenedor con la clase 'libros' dentro de 'main' */
    .libros {
        display: flex;
        gap: 100px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    }
}