/*mixins*/
@mixin estilos-lib() {
  //mixin que genera un estilo a las letras y les aplicará un color negro con fondo blanco
  font-family: 'Ibarra Real Nova', sans-serif;
  background-color: white;
  color: black;
}