body {
  margin: 0;
  font-family: 'Ibarra real Nova', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a4c3cf;
  padding: 10px 20px;
}

header img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}



header .busca {
  padding: 10px;
  width: 500px;
}

header .enlaces a {
  text-decoration: none;
  color: white;
  background-color: #36566A;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

header .enlaces a:hover {
  background-color: white;
  color: black;
}

header .categorias {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
}

header .menu li {
  display: inline-block;
}



/*Main*/
main .titulo {
  background-color: #36566A;
  margin-bottom: 50px;
  padding: 30px;
}

main .titulo h1 {
  margin: 0;
  font-family: 'Permanent Marker';
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
  color: white;
}

main .titulo button {
  text-decoration: none;
  color: black;
  background-color:#ffb347;
  padding: 10px;
  border-radius: 5px;
  margin-left: 1350px;
}

main .eventos {
  display: flex;
  justify-content: space-around;
  margin: 50px;
 
}

main .eventos .evento{
  border-width: 10px;
  border-style:none;
  padding-inline: 10px;
  padding-block: 10px;
}

main .eventos .evento img{
  display: flex;
  justify-self: center;
  width: 300px;
  height: 200px;
}

main .eventos .evento p{
  justify-self: start;
}

main .libros {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

main .libros img {
  width: 150px;
  height: 200px;
}


main .categorias2 {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

main .categorias2 img{
  height: 100px;
  width: 100px;
}

main .categorias2 p{
  display: flex;
  justify-self: center;
}


/* Footer */
footer {
  background-color: #a4c3cf;
  color: white;
  padding: 20px 10px;
  /*arriba | derecha | abajo | izquierda */
}

.redes_S>img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 50px;
}

.linea {
  height: 1px;
  background-color: black;
}

footer .pie {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

footer p {
  margin: 0;
}

footer .link a {
  color: white;
  text-decoration: none;
}

footer .link a:hover {
  /*Hover es para cuando se posa el cursor sobre algo*/
  text-decoration: underline;
}

footer .terminos a {
  color: white;
  text-decoration: none;
}



footer .terminos a:hover {
  /*Hover es para cuando se posa el cursor sobre algo*/
  text-decoration: underline;
}

@media (max-width: 1024px) {
  /* Header */
  header {
    flex-direction:row;
    padding: 10px;
  }

  header img {
    width: 50px;
  }

  header .busca {
    width: 50%;
    margin: 10px 0;
  }

  header .enlaces {
    display: flex;
    gap: 5px;
  }

 body .categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* Main */
  main .titulo {
   
    text-align:initial;
    padding: 20px;
  }

  main .titulo h1 {
    font-size: 24px;
  }

  main .titulo button {
    display: flex;
    justify-self: right;
    margin-top: 20px;
    padding: 10px;
    padding-inline: 30px;
  }

  main .eventos, main .libros, main .categorias2 {
    flex-direction: row;
    align-items: center;
    margin: 20px;
    
  }

  main .eventos .evento p{
    margin-left: 50px;
  }

  main .eventos .evento img,
  main .libros img {
    margin-left: 50px;
    width: 50%;
    max-width: 300px;
    height: auto;
  }

  main .categorias2 img {
    width: 80px;
    height: 80px;
    margin-top: 50px;
  }

  main .categorias2 p {
    text-align: center;
  }

  /* Footer */
  footer .pie {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .redes_S {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .redes_S>img {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  /* Header */
  header {
    align-items: center;
  }

  header .busca {
    width: 50%;
  }

  body .categorias {
    flex-direction: column;
    align-items: center;
  }

  /* Main */
  main .titulo h1 {
    font-size: 20px;
  }

  main .eventos, main .libros, main .categorias2 {
    gap: 10px;
  }

  main .eventos .evento img,
  main .libros img {
    width: 50%;
    max-width: 100px;
    height: auto;
    margin-left: 0;
  }

  main .categorias2 img {
    width: 60px;
    height: 60px;
  }

  /* Footer */
  footer .pie {
    gap: 10px;
  }

  .redes_S {
    gap: 10px;
  }

  .redes_S>img {
    width: 30px;
    height: 30px;
  }
}