@charset "UTF-8";
/*mixins*/
/*estructuras-control*/
header {
  background-color: #a4c3cf;
  color: white;
}

/*funciones*/
/* Importamos variables sin usar '*' como alias */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ibarra real Nova", sans-serif;
}

/* Reinicio de estilos para evitar problemas de compatibilidad */
html {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, nav {
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

/*header*/
header {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
  background-color: #a4c3cf;
  padding: 10px 20px;
}
header img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
header .enlaces a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  color: black;
}
header .enlaces a.registrar {
  background-color: #ffb347;
  font-weight: bold;
}
header .enlaces a.iniciar {
  color: white;
}
header .enlaces a.comprar {
  color: white;
}
header .iniciar {
  background-color: #2b3a42;
  color: white;
}
header .iniciar:hover {
  background-color: #ffb347;
}
header .comprar {
  background-color: #2b3a42;
  color: white;
}
header .comprar:hover {
  background-color: #ffb347;
}
header #valor {
  padding: 5px;
  width: 300px;
}

section .categorias {
  list-style-type: none;
  /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
section li {
  background-color: #a4c3cf;
}

section {
  /* Submenú */
}
section .categorias {
  display: flex;
  list-style: none;
  background-color: #a4c3cf;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 60px;
}
section .categorias > li {
  position: relative;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
}
section .categorias > li:hover {
  background-color: #2b3a42;
}
section .categorias > li ul {
  display: none;
  /* Escondido por defecto */
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #a4c3cf;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  z-index: 1000;
}
section .categorias > li:hover ul {
  display: block;
}
section .categorias > li ul li {
  padding: 10px 20px;
  color: #fff;
}
section .categorias > li ul li:hover {
  background-color: #2b3a42;
}
section .categorias > li a,
section .categorias > li ul li a {
  color: inherit;
  text-decoration: none;
}
section .categorias > li a:hover,
section .categorias > li ul li a:hover {
  text-decoration: underline;
}

/*main*/
main {
  text-align: center;
}
main .index {
  padding: 150px;
}
main h1 {
  font-family: "Permanent Marker";
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
  color: #2b3a42;
  max-width: 560px;
  margin: auto;
}
main .botones {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 100px;
}
main .botones .boton1 {
  background-color: #ffb347;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  margin-right: 50px;
  border-radius: 30%;
}
main .botones .boton2 {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  font-weight: lighter;
}
main .colaboradores {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}
main .colaboradores .secciones {
  text-align: center;
  margin-inline: 50px;
}
main .colaboradores .secciones img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
main .colaboradores .secciones p {
  margin-top: 10px;
  font-size: 16px;
}
main .titulo {
  background-image: url("../img/foto-libreria-1920px.jpg");
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
main .titulo h1 {
  color: #2b3a42;
  font-size: 40px;
}
main .titulo .iniciar_sesion {
  margin-top: 100px;
  background-color: #ffb347;
  grid-row: 2;
  grid-column: 4/5;
}
main .titulo .iniciar_sesion:hover {
  background-color: #ce9039;
}
main .titulo .texto {
  background-color: rgba(255, 255, 255, 0.514);
  padding: 10px;
  border-radius: 30px;
  grid-row: 1;
  grid-column: 1/5;
}
main .eventos {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-block: 30px;
  margin-inline: 30px;
  overflow: hidden; /* Oculta imágenes que están fuera del contenedor */
}
main .eventos p {
  background-color: black;
  color: white;
  border: 10px solid black;
}
main .eventos .derecha {
  border: 1px solid;
  height: 50px;
}
main .eventos .derecha:hover {
  background-color: #2b3a42;
  color: white;
}
main .eventos .izquierda {
  border: 1px solid;
  height: 50px;
}
main .eventos .izquierda:hover {
  background-color: #2b3a42;
  color: white;
}
main .eventos article.active {
  display: block;
}
main .libros {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
main .libros .derecha2 {
  border: 1px solid;
  height: 50px;
}
main .libros .derecha2:hover {
  background-color: #2b3a42;
  color: white;
}
main .libros .izquierda2 {
  border: 1px solid;
  height: 50px;
}
main .libros .izquierda2:hover {
  background-color: #2b3a42;
  color: white;
}
main .libros article.active {
  display: block;
}
main .categorias2 {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}
main .categorias2 .desplazamiento {
  display: flex;
  gap: 50px;
}
main .categorias2 .cat img {
  border-radius: 50%;
}
main .categorias2 .derecha3 {
  border: 1px solid;
  height: 50px;
}
main .categorias2 .derecha3:hover {
  background-color: #2b3a42;
  color: white;
}
main .categorias2 .izquierda3 {
  border: 1px solid;
  height: 50px;
}
main .categorias2 .izquierda3:hover {
  background-color: #2b3a42;
  color: white;
}
main .categorias2 .cat.active {
  display: block;
}

/*Footer*/
footer {
  background-color: #a4c3cf;
  color: white;
  padding: 20px 0;
}
footer .redes_S > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 50px;
}
footer .linea {
  height: 1px;
  background-color: black;
}
footer .pie {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
footer p {
  margin: 0;
}
footer .terminos a {
  color: white;
  text-decoration: none;
}
footer .terminos a:hover {
  text-decoration: underline;
}

/*media-queries*/
/* tamaños de Media Queries */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  header #valor {
    padding: 5px;
    width: 300px;
  }
  main {
    text-align: center;
    padding-block: 100px;
    position: relative;
    margin-right: 30px;
  }
  .mainP {
    text-align: center;
    padding-block: 0;
    position: relative;
    margin-right: 0;
  }
  .mainP .categorias2 {
    margin-bottom: 0px;
  }
  footer {
    position: relative;
    top: 300px;
  }
  .footerP {
    top: 100px;
  }
  .eventos article {
    display: none;
  }
  .eventos article.active {
    display: block;
    /* Mostrar solo el artículo activo */
  }
  .libros .libro {
    display: none;
  }
  .libros .libro.active {
    display: block;
    /* Mostrar solo el libro que este activo*/
  }
  .categorias2 {
    gap: 50px;
  }
  .categorias2 article {
    display: none;
  }
  .categorias2 article.active {
    display: block;
    /* Mostrar solo el artículo activo */
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1360px) {
  main {
    text-align: center;
    position: relative;
    margin-right: 30px;
    margin-bottom: 100px;
  }
  main h1 {
    font-size: 40px;
  }
  main .botones {
    padding: 130px;
  }
  .mainP {
    text-align: center;
    padding-block: 0;
    position: relative;
    margin-right: 0;
  }
  .mainP .categorias2 {
    margin-bottom: 0px;
  }
  footer {
    position: relative;
    top: 170px;
  }
  .footerP {
    top: 100px;
  }
  .eventos article {
    display: none;
  }
  .eventos article.active {
    display: block;
    /* Mostrar solo el artículo activo */
  }
  .libros .libro {
    display: none;
  }
  .libros .libro.active {
    display: block;
    /* Mostrar solo el libro que este activo*/
  }
  .categorias2 {
    gap: 50px;
  }
  .categorias2 article {
    display: none;
  }
  .categorias2 article.active {
    display: block;
    /* Mostrar solo el artículo activo */
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  header .enlaces a {
    font-size: 13px;
    margin-right: 0;
    margin-left: 0;
  }
  header #valor {
    padding: 5px;
    width: 100px;
  }
  main h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  main .botones {
    margin: 0;
    padding: 0;
    gap: 0px;
    flex-wrap: wrap;
  }
  main .botones .boton1 {
    font-size: 20px;
    margin-block: 50px;
    margin-right: 10px;
  }
  main .botones .boton2 {
    padding: 0;
    margin-left: 0;
  }
  main .colaboradores {
    justify-content: center;
    gap: 0;
    margin-top: 100px;
  }
  main .colaboradores .secciones {
    margin-inline: 30px;
  }
  main .eventos article {
    display: none;
  }
  main .eventos article.active {
    display: block;
    /* Mostrar solo el artículo activo */
  }
  main .libros .libro {
    display: none;
  }
  main .libros .libro.active {
    display: block;
    /* Mostrar solo el libro que este activo*/
  }
  main .categorias2 {
    gap: 50px;
  }
  main .categorias2 article {
    display: none;
  }
  main .categorias2 article.active {
    display: block;
    /* Mostrar solo el artículo activo */
  }
  footer {
    position: relative;
    top: 100px;
  }
  footer .redes_S > img {
    align-items: center;
  }
  footer .pie {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  footer .contacto {
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  main {
    margin-bottom: 350px;
  }
  .mainP {
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=principal.css.map */
